{% extends 'base.html' %}
{% load static %}

{% block content %}

    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container">

            <div class="collapse navbar-collapse" id="navbarButtonsExample">

                <ul class="navbar-nav me-auto">
                    <li class="nav-item">
                        <p style="font-family: var(--bs-font-monospace); font-size: 30px; font-weight: bolder;">
                            Завершенные заявки</p>
                    </li>
                </ul>
                <form action="{% url 'orders:history' %}" method="get">
                    <input name="search" type="text" placeholder="Найти заявку..." class="form-control">
                </form>
                <div class="d-flex align-items-center ms-3">
                    <a href="{% url 'orders:list' %}" class="btn btn-light me-4 p-2">
                        {% if role in 'master,client' %}
                            Мои заявки
                        {% else %}
                            Активные заявки
                        {% endif %}</a>
                </div>
            </div>
        </div>
    </nav>

    <div class="row d-flex justify-content-center align-items-center h-100 mt-3">
        <div class="col-lg-12 col-xl-12">
            <div class="card text-black" style="border-radius: 25px;">

                <div class="card-body p-md-5">
                    <div class="row justify-content-center">

                        <table class="table table-striped align-middle mb-0 bg-white">
                            <thead class="bg-light">
                            <tr>
                                <th>Клиент</th>
                                <th>Описание</th>
                                <th>Мастер</th>
                                <th>Дата создания</th>
                                <th>Срок выполнения</th>
                                <th>Дата выполнения</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for row in object_list %}
                                <tr>
                                    <td>
                                        {{ row.client }}
                                    </td>
                                    <td>
                                        <a href="{% url 'orders:detail' row.pk %}">{{ row.title }}</a>
                                    </td>
                                    <td>
                                        {{ row.master }}
                                    </td>
                                    <td>
                                        {{ row.created_at.date }}
                                    </td>
                                    <td>
                                        {{ row.date_execution }}
                                    </td>
                                    <td>
                                        {{ row.date_completed }}
                                    </td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}
