{% extends 'base.html' %}

{% block content %}

    <section class="vh-100" style="background-color: #eee;">
        <div class="container h-100">
            <div class="row d-flex justify-content-center align-items-center h-50">
                <div class="col-lg-12 col-xl-11">
                    <div class="card text-black" style="border-radius: 25px;">
                        <div class="card-body p-md-5">
                            <div class="row justify-content-center">
                                <div class="col-md-12 col-lg-12">

                                    {% if object %}
                                        <p class="text-center h4 fw-bold mb-3 mx-1 mx-md-4 mt-2">
                                            {{ object.title }}</p>
                                        <hr>
                                        <ul class="list-group list-group-flush">
                                            <li class="list-group-item"><b>ФИО:</b> {{ object.full_name }}</li>
                                            <li class="list-group-item"><b>Телефон:</b> {{ object.phone }}</li>
                                            <li class="list-group-item"><b>Адрес:</b> {{ object.address }}</li>
                                            <li class="list-group-item">
                                                <p class="fw-bold">Подробное описание проблемы:</p>
                                                <p>{{ object.description }}</p></li>
                                            <li class="list-group-item"><b>Дата и время создания заявки:</b>
                                                {{ object.created_at }}</li>
                                            <li class="list-group-item"><b>Срок выполнения:</b>
                                                {% if object.date_execution %}
                                                    {{ object.date_execution }}
                                                {% else %}
                                                    Не назначен
                                                {% endif %}</li>
                                            <li class="list-group-item"><b>Мастер:</b>
                                                {% if object.master %}
                                                    {{ object.master }}
                                                {% endif %}</li>
                                            <li class="list-group-item"><b>Выполнено:</b>
                                                {% if object.date_completed %}
                                                    {{ object.date_completed }}
                                                {% endif %}</li>
                                        </ul>
                                        <br>

                                    {% endif %}

                                    <hr>
                                    <a class="btn btn-outline-secondary w-25"
                                       href="{% url 'orders:list' %}">Назад</a>
                                    {% if object.status == 'выполнена' and role == 'client' %}
                                        <a class="btn btn-outline-secondary float-end"
                                           href="{% url 'orders:finish' object.pk %}">Подтвердить выполнение</a>
                                    {% elif object.status in 'новая,назначена' and role == 'dispatcher' %}
                                        <a class="btn btn-outline-secondary float-end"
                                           href="{% url 'orders:employer' object.pk %}">Назначить исполнителя</a>
                                    {% elif object.status == 'назначена' and role == 'master' %}
                                        <a href="#staticBackdrop" data-bs-toggle="modal"
                                           class="btn btn-outline-secondary float-end">Отметить выполнение</a>
                                    {% endif %}

                                    <!-- Модальное окно -->
                                        <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static"
                                             data-bs-keyboard="false" tabindex="-1"
                                             aria-labelledby="staticBackdropLabel" aria-hidden="true">
                                            <div class="modal-dialog">
                                                <div class="modal-content">
                                                    <div class="modal-header">
                                                        <h5 class="modal-title" id="staticBackdropLabel1">
                                                            Подтверждение</h5>
                                                        <button type="button" class="btn-close" data-bs-dismiss="modal"
                                                                aria-label="Закрыть"></button>
                                                    </div>
                                                    <div class="modal-body">
                                                        Действительно заявка выполнена?
                                                    </div>
                                                    <div class="modal-footer">
                                                        <button type="button" class="btn btn-secondary"
                                                                data-bs-dismiss="modal">Отмена
                                                        </button>
                                                        <a href="{% url 'orders:complete' object.pk %}"
                                                           type="button" class="btn btn-primary">Да, выполнена</a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

{% endblock %}
